<ion-view>
    <div class="bar bar-header bar-positive">
        <h1 class="title">Login</h1>
    </div>
    <ion-content class="padding has-header">
        <form name="form" ng-submit="login()">
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">Login</span>
                    <input type="text" name="username" ng-model="user.username" required="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Senha</span>
                    <input type="password" name="password" ng-model="user.password" required="">
                </label>
                <button class="button button-block button-balanced">
                    Entrar
                </button>
            </div>
        </form>
    </ion-content>
</ion-view>