<ion-view>
    <div class="bar bar-header bar-balanced">
        <h1 class="title">Carrinho</h1>
    </div>
    <ion-content class="padding has-header">
        <ion-list>
            <ion-item ng-repeat="item in items">
                {{item.name}}
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>