<ion-view>
    <div class="bar bar-header bar-positive">
        <h1 class="title">Produto <span class="badge icon-left badge-assertive" ng-click="showProduct()" ng-if="totalProduto">{{totalProduto}}</span></h1>
    </div>
    <div class="bar bar-subheader">
        <h2 class="title">Selecione um produto</h2>
    </div>
    <ion-content class="padding has-subheader">
        <ion-list>
            <ion-item ng-repeat="p in products">
                <ion-checkbox ng-model="isChecked[p.id]" ng-click="addProduct(p)">{{p.name}}
                    <span class="item-note">
                        <i class="icon ion-cash bar-balanced"> {{p.price}} </i>
                    </span>
                </ion-checkbox>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>